<div class="page">
    <h2>City Tours</h2>
    <mat-form-field class="search-form-field" appearance="fill">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" [(ngModel)]="search" (ngModelChange)="dispatchSearch()">
        <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''; dispatchSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    <div class="grid">
      <mat-spinner *ngIf="isLoading$ | async" class="spinner"></mat-spinner>
        <app-city-card *ngFor="let city of cities$ | async" [city]="city"></app-city-card>
    </div>
</div>